@use "../../../styles/variables.scss" as v;

.chat-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .chat-header{
    
         h1{
            color: white;
            font-size:48px;
            line-height: 64px;
            text-align: left;

            @media(max-width:768px){
                font-size: 32px;
                line-height: 42px;
            }
        };
    }

    .chat-options{
        margin-top: 80px;

        @media(max-width:1200px){
            margin-top: 35px;
        }
        @media(max-width:992px){
            margin-top: 20px;
        }

        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 60px;

            @media(max-width:1200px){
                gap: 25px;
            }

            @media(max-width:992px){
                gap: 25px;
            }

            @media(max-width:768px){
                gap: 1.5rem;
            }
            
            .col{
                width: 230px;
                height: 200px;
                border-radius:20px;
                border: 2px solid v.$color-blue2;
                padding: 20px;

                @media(max-width:1200px){
                    width: 184px;
                    height: 160px;
                }

                p{
                    margin-top: 15px;
                    color: white;
                }
            }
        }
    }

    // .chat-section{
        
    // }

    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        width: 50%;
        text-align: center;
        margin-top: 225px;

        @media(max-width:1400px){
            width: 60%;
        }

        @media(max-width:1200px){
            margin-top: 175px;
            width: 75%;
        }

        @media(max-width:992px){
            margin-top: 35px;
            width: 100%;
        }

        &.chat-input{
            
            div{
                width: 100%;
                position: relative;

                input{
                    height: 60px;
                    border-radius: 30px;
    
                    &::placeholder{
                        color: #9E9D9D;
                    }
                }
    
                button{
                    background: transparent;
                    border: none;
                    outline: none;
                    position: absolute;
                    right: 19.67px;
                    top: 16px;
                    transition: all 0.1s linear;
    
                    &:active{
                        transform: scale(0.9);
                    }
                }
            }
        }
        small{
            font-size: 12px;
            color: white;
        }
    }

    
}
