@use "../../../styles/variables.scss" as v;

.chat-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .chat-header {
    h1 {
      color: v.$color-secondary3;
      font-size: 48px;
      line-height: 64px;
      text-align: left;

      @media (max-width: 1200px) {
        font-size: 36px;
      }

      @media (max-width: 992px) {
        font-size: 32px;
        line-height: 35px;
      }
    }
  }

  .chat-options {
    @media (max-width: 768px) {
      margin-top: 20px;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      @media (max-width: 1200px) {
        gap: 25px;
      }

      @media (max-width: 992px) {
        gap: 25px;
      }

      @media (max-width: 768px) {
        gap: 20px;
      }

      .col {
        width: 184px;
        height: 160px;
        border-radius: 20px;
        border: 2px solid v.$color-primary4;
        padding: 20px;
        font-size: 14px;

        @media (max-width: 992px) {
          &:nth-child(3) {
            display: none;
          }
        }
        @media (max-height: 768px) {
          @media (max-width: 1200px) {
            &:nth-child(3) {
              display: none;
            }
          }
        }

        @media (max-width: 1200px) {
          width: 166px;
          height: 144px;
          font-size: 12px;
        }

        p {
          margin-top: 15px;
          color: v.$color-secondary3;
        }
      }
    }
  }

  .chat-section {
    max-width: 690px;
    color:  v.$color-secondary3;
    overflow-y: scroll;

    @media (max-width: 576px) {
      font-size: 14px;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 87px;
    }

    &::-webkit-scrollbar-thumb {
      background: v.$color-primary4;
      border-radius: 60px;
    }

    &::-webkit-scrollbar-track {
      background: v.$color-secondary2;
      border-radius: 60px;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 2rem;

      @media (max-width: 768px) {
        gap: 0;
      }

      .answer-header {
        padding: 1rem;

        div {
          &:first-child {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
          }

          &.separator {
            background: linear-gradient(0deg, v.$color-primary4 100%, v.$color-primary);
            width: 100%;
            height: 2px;
          }
          span {
            max-width: 475px;
            word-wrap: break-word;
            overflow-wrap: break-word;

            @media (max-width: 768px) {
              max-width: 395px;
            }

            @media (max-width: 575px) {
              max-width: 360px;
              word-wrap: break-word;
              overflow-wrap: break-word;
            }

            @media (max-width: 500px) {
              max-width: 300px;
              word-wrap: break-word;
              overflow-wrap: break-word;
            }

            @media (max-width: 475px) {
              max-width: 275px;
              word-wrap: break-word;
              overflow-wrap: break-word;
            }

            @media (max-width: 440px) {
              max-width: 225px;
              word-wrap: break-word;
              overflow-wrap: break-word;
            }

            @media (max-width: 390px) {
              max-width: 200px;
              word-wrap: break-word;
              overflow-wrap: break-word;
            }

            @media (max-width: 360px) {
              max-width: 150px;
              word-wrap: break-word;
              overflow-wrap: break-word;
            }
          }
          img {
            @media (max-width: 576px) {
              width: 20px !important;
              height: 20px !important;
            }
          }
        }
      }

      @media (max-width: 768px) {
        position: relative;
        overflow-y: visible;

        &::before {
          content: "";
          background-image: url("../../../../public/icons/ui/avatar/chat-section-avatar-icon.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 15px;
          left: -0px;
          z-index: 1000;
        }
      }
      @media (max-width: 576px) {
        &::before {
          width: 25px;
          height: 25px;
        }
      }

      @media (max-width: 400px) {
        &::before {
          width: 20px;
          height: 20px;
        }
      }
    }

    .code-column {
      position: relative;
      margin-bottom: 3rem;

      p:last-child{
        margin-top: 15px;
      }

      .code-block {

        .code-button-div{
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: v.$color-secondary2;
            border-radius: 0 0 15px 15px;

            .code-language{
                background-color: transparent;
                width: 100px;
                text-align: center;
                border-radius: 0 0 10px 10px;
                font-size: 14px;
                color: v.$color-primary2;
                text-shadow: 1px 1px 2px #000;
                padding-bottom: 0.2rem;
            }

            .copy-button {
              right: 25px;  
              border: none;
              background-color: transparent;
              width: 50%;
              height: 30px;
              border-radius: 0 0 10px 10px;
              color: v.$color-secondary3;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              gap: 0.3rem;
              font-size: 0.8rem;
              padding-right: 2rem;
    
              &:hover {
                background-color: v.$color-primary2;
              }
    
              &:active {
                background-color: v.$color-primary4;
              }
            }
        }

        pre {
          margin: 0;
          width: 100%;
          height: auto;
          overflow: visible;
          position: relative;
          div{
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: end;
            
            .copy-button {
              right: 25px;  
              border: none;
              border-bottom: 1px solid v.$color-primary4;
              background-color: v.$color-primary;
              width: 100px;
              height: 30px;
              border-radius: 0 0 10px 10px;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.3rem;
              font-size: 0.8rem;
    
              &:hover {
                background-color: v.$color-primary2;
              }
    
              &:active {
                background-color: v.$color-primary4;
              }
            }
        }

          code {
            background-color: v.$color-primary;
            border-radius: 15px 15px 0 0;
            padding: 1rem;
            display: block;

            @media (max-width: 576px) {
              font-size: 12px;
              text-wrap: wrap;
            }
          }

          & ~ p {
            margin-top: 2rem;

            code {
              color: v.$color-primary4;
            }
          }
        }
      }
    }
  }

  form {
    text-align: center;

    &.chat-input {
      width: 60%;
      display: block;

      @media (max-width: 1400px) {
        width: 50%;
      }

      @media (max-width: 1200px) {
        width: 70%;
      }

      @media (max-width: 992px) {
        width: 85%;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-top: 16px;
      }

      .textarea-container {
        position: relative;

        textarea {
          min-height: 60px;
          max-height: 175px;
          border-radius: 30px;
          margin-bottom: 25px;
          padding: 16px 60px 8px 60px;
          text-align: left;
          resize: none;
          font-size: 16px;
          background-color: v.$color-primary4;
          color: v.$color-secondary3;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          outline: none;

          &:active{
            border: 1px solid v.$color-primary4;
          }

          &:focus{
            border: 1px solid v.$color-primary4;
          }

          @media (max-width: 576px) {
            min-height: 45px;
            // padding: 10px 60px 0 30px;
            padding-bottom: 19px;
            font-size: 14px;
            max-height: 115px;
          }

          &::-webkit-scrollbar {
            width: 5px;
            height: 25px;
          }

          &::-webkit-scrollbar-thumb {
            background: v.$color-secondary2;
            border-radius: 60px;
          }

          &::-webkit-scrollbar-track {
            background: v.$color-primary3;
            border-radius: 60px;
          }

          @media (max-width: 768px) {
            margin-bottom: 14px;
          }
        }

        button {
          &.submit-btn {
            background: transparent;
            border: none;
            outline: none;
            position: absolute;
            right: 19.67px;
            bottom: 17px;
            transition: all 0.1s linear;

            @media (max-width: 576px) {
              bottom: 10px;
            }

            &:active {
              transform: scale(0.9);
            }
          }
        }
      }
    }
    small {
      font-size: 12px;
      color: v.$color-secondary3;

      @media (max-width: 768px) {
        line-height: 1px;
      }
    }
  }
}
