@use "../../../../styles/variables.scss" as v;

.navbar{

    .navbar-collapse{

        li{
            a{
                @media(max-width:992px){

                    &::after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color:#42A5F5;
                        z-index: -1;
                        opacity: 0.6;
                        border-radius: 0 0 30px 30px;
                    }
                }
            }
        }
    }
}