@use "../../../../../styles/variables.scss" as v;

.signup-btn{
    font-size: 18px;
    width: 176px;
    height: 56px;
    border-radius: 52px;
    background-color: v.$color-primary4;
    border: none;
    color: white;

    &:hover{
        background-color: v.$color-primary;
    }

    &:active{
        background-color: v.$color-primary2;
    }
}