@use "../../../../../styles/variables.scss" as v;

.signup-btn{
    font-size: 18px;
    width: 176px;
    height: 56px;
    border-radius: 52px;
    background-color: #1976D2;
    border: none;
    color: white;

    &:hover{
        background-color: v.$color-blue4;
    }

    &:active{
        background-color: v.$color-blue1;
    }
}