@use "../../../../styles/variables.scss" as v;

.signup-page-form{
    background-color: white;
    border-radius: 100px;
    padding: 3rem 6rem;

    .text{
        text-align: center;

        h1{
            color: #42A5F5;
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        p{
            margin-bottom: 2rem;
        }
    }

    form{
        .input-group{

            input{
                width: 350px;
                height: 45px;
                border-radius: 10px;

                &::placeholder{
                    color: #D8D8D8;
                }
            }

            &.password-group {
                position: relative;
                transition: all 0.2s linear;
      
                .passwordEye {
                  color: v.$color-blue1;
                  position: absolute;
                  top: 15px;
                  right: 10px;
                  transition: all 0.2s linear;
                  z-index: 99;
                }
    
              }
            
        }

        button{
            height: 45px;
            width: 100%;
        }
    }

    small{
        font-size: 14px;
        color: #D8D8D8;
        width: 100%;

        @media(max-width:768px){
            font-size: 14px;
        }

        @media(max-width:567px){
            font-size: 12px;
        }

        a{
            text-decoration: none;
            margin-left: 0.5rem;
            color: #1976D2;

            &:hover{
                color: v.$color-blue4;
            }
        
            &:active{
                color: v.$color-blue1;
            }
        }
    }
}