$color-blue1: #07C8F9;
$color-blue2: #09A6F3;
$color-blue3: #0A85ED;
$color-blue4: #0C63E7;
$color-blue5: #0D41E1;
$color-blue6: #07247B;
$color-blue7: #1976D2;
$vendors: ("", "-webkit-", "-moz-", "-ms-", "-o-");

// Bootstrap variables
$font-family-sans-serif: var(--inter);
$primary: $color-blue5;
$secondary: $color-blue1;