@use "../../../../../styles/variables.scss" as v;

.social-button{
    width: 100%;
    height: 45px;
    border-radius: 32px;
    border: 1px solid black;
    background-color: white;
    font-size: 18px;
    font-weight: bold;

    &:hover{
        background-color: v.$color-blue4;
    }

    &:active{
        background-color: v.$color-blue1;
    }

    span{
        margin: 1.5px 10px;
    }
}