@use "../../../../styles/variables.scss" as v;

.dropzone-container{

    .list-container {
        display: flex;
        flex-direction: column-reverse;
        max-height: 200px;
        overflow-y: auto;
        padding: 10px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        li {
            padding: 5px 50px;
            background-color: v.$color-blue2;
            margin-bottom: 5px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            div{
                span{
                    padding-left: 10px;
                }
            }


            .remove-button{
                background-color: transparent;
                border: none;
                color: white;
                font-size: 1.5rem;
                cursor: pointer;
                font-weight: bold;
            }

        }
    }
    

    .dropzone {

        img{

            &.attach-icon{
                cursor: pointer;
                position: absolute;
                bottom: 18px;
                left: 17px;
            }
        }
    }
}