
.dashboard-navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media(max-width:768px){
        justify-content: center;
        // flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 1rem;
    }

    .school-name{
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width:768px){
            width: 100%;

            img{
                width: 50px;
                height: 50px;
            }
        }

        h1{
            margin-right: 30px;
            margin-left: 10px;
            color: white;
            @media(max-width:768px){
                font-size: 24px;
            }
        }
    }
}