@use "../../../../../styles/variables.scss" as v; 

.user-section{
    width: 240px;
    height: 60px;
    background-color: v.$color-blue2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid v.$color-blue5;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media(max-width:576px){
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &:hover{
        background-color: v.$color-blue1;
        cursor: pointer;
    }

    .dropdown{
        display: flex;
        align-items: center;
        position: relative;

        button{
            background-color: transparent;
            outline: none;
            border: none;
            padding: 6px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            &:first-child{

                @media(max-width:576px){

                   img{
                    width: 30px;
                    height: 30px;
                   }
                }
            }

            &:last-child{

                @media(max-width:576px){
                    display: none;
                }
            }
        }

        ul{
            // background: v.$gradient-dropdown;
            background: transparent;
            // border: 2px solid v.$color-blue2;
            border-radius: 30px;
            // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            position: absolute;
            left: -12px!important;

            @media(max-width:576px){
                left: -8px!important;
                top: 3px!important;
            }

            &.dropdown-menu{
                min-width: 50px;
                height: 140px;
                border: none;
            }

            li{

                a{
                    // opacity: 0.7;
                    margin-bottom: 0.7rem;
                    transition: all 0.3s linear;

                    &:hover{
                        background-color: transparent;
                        // opacity: 1;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        transform: scale(1.1);
                    }
                    
                }
            }
        }

        .dropdown-toggle::after {
            display: none;
        }
    }

    .user{
        display: flex;
        gap: 10px;
        align-items: center;

        @media(max-width:576px){
            display: none;
        }

        img{
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        div{
            width: 91px;
            height: 33px;

            p{
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                color: white;
                letter-spacing: -0.3px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

                span{
                    color: v.$color-blue5;
                    font-weight: 400;
                    font-size: 12px;
                    letter-spacing: -0.3px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
            }

        }
    }
}