
.signup-container{
    background-color: #42A5F5;
    background-image: url("../../../../public/images/background/LooperBG.png");
    background-position: center;
    width: 1440px;
    height: 80%;
    overflow: hidden;
    border-radius: 30px;
}